@model enaa.Models.Registration

@{
    ViewData["Title"] = "Inscription";
        List<SelectListItem> genre = new List<SelectListItem>()
        {
            new SelectListItem() { Text="Homme", Value="Homme"},
            new SelectListItem() { Text="Femme", Value="Homme"},
        };

    List<SelectListItem> situation = new List<SelectListItem>()
        {
            new SelectListItem() { Text="Oui", Value="Oui"},
            new SelectListItem() { Text="Non", Value="Non"},
        };
    List<SelectListItem> niveau = new List<SelectListItem>()
        {
            new SelectListItem() { Text="Bac+2", Value="Bac+2"},
            new SelectListItem() { Text="Bac+3", Value="Bac+3"},
            new SelectListItem() { Text="Bac+5", Value="Bac+5"},
            new SelectListItem() { Text="Bac+5 et plus", Value="Bac+5 et plus"},
        };
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


<div id="hero-register">
    <div class="w-75 m-auto hero-all" style="position:relative; top:50%;" data-aos="zoom-out" data-aos-delay="100">
        <div class="enaa-content-register" data-aos="flip-right">
            <img class="enaa-corner1-register" src="~/assets/img/corner1.png">
            <h1 class="enaa-Text-register">Inscription</h1>
            <img class="enaa-corner2-register" src="~/assets/img/corner1.png">
        </div>
    </div>
</div>

<section class="w-75 section-multisteps-form" style="margin:1em auto">
    <div class="content">
      <!--content inner-->
      <div class="content__inner">
        <div class="container overflow-hidden">
          <!--multisteps-form-->
          <div class="multisteps-form">
            <!--progress bar-->
            <div class="row pt-3">
              <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                <div class="multisteps-form__progress">
                  <button
                    class="multisteps-form__progress-btn js-active"
                    type="button"
                    title="Infos perso"
                  >
                    Infos perso
                  </button>
                  <button
                    class="multisteps-form__progress-btn"
                    type="button"
                    title="Parcours académique"
                  >
                  Parcours académique
                  </button>
                  <button
                    class="multisteps-form__progress-btn"
                    type="button"
                    title="Expérience"
                  >
                  Expérience
                  </button>
                  <button
                    class="multisteps-form__progress-btn"
                    type="button"
                    title="Comments"
                  >
                    Commentaire
                  </button>
                </div>
              </div>
            </div>
            <!--form panels-->
            <div class="row">
              <div class="col-12 col-lg-8 m-auto">
                <form onsubmit="return submitForm(this);" class="multisteps-form__form" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <!--single form panel-->
                  <div
                    class="multisteps-form__panel p-4 rounded bg-white js-active"
                    data-animation="slideHorz"
                  >
                  <h5 class="text-danger text-center p-2">@TempData["inputsEmpty"]</h5>
                    <h3 class="multisteps-form__title">Informations personnelles</h3>
                    <div class="multisteps-form__content">
                      <div class="m-auto d-flex flex-row justify-content-around">
                       <div class="form-group w-50 mr-2">
                            <label asp-for="Nom" class="control-label"></label><span class="text-danger">*</span>
                            <input asp-for="Nom" class="form-control nameInputs" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group w-50">
                                                <label asp-for="Prenom" class="control-label"></label><span class="text-danger">*</span>
                            <input asp-for="Prenom" class="form-control nameInputs" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                                            <label class="control-label">Genre<span class="text-danger">*</span></label>
                            <select asp-for="Genre" asp-items="@genre" class="form-control custom-select mb-3">
                                <option>-Genre-</option>
                            </select>
                      </div>
                        
                      <div class="m-auto d-flex flex-row justify-content-around">
                        <div class="form-group w-50 mr-2">
                                                <label asp-for="Age" class="control-label"></label><span class="text-danger">*</span>
                            <input type="number" asp-for="Age" min="18" max="35" class="form-control nameInputs" placeholder="18" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="form-group w-50">
                                                <label asp-for="Cin" class="control-label"></label><span class="text-danger">*</span>
                                                <input asp-for="Cin" class="form-control" id="sourceInput" onchange="copyValue()" />
                                                <input type="hidden" readonly class="form-control" name="cinUser" id="cinInput" required />
                                                <span asp-validation-for="Cin" class="text-danger"></span>
                        </div>
                      </div>
                    <div class="form-group w-100 mr-2">
                                            <label asp-for="Adresse" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="Adresse" class="form-control" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                      <div class="m-auto d-flex flex-row justify-content-around">
                        <div class="form-group w-50 mr-2">
                                                <label class="control-label">Ville de résidence</label><span class="text-danger">*</span>
                                                <input asp-for="Ville" class="form-control" />
                                                <span asp-validation-for="Ville" class="text-danger"></span>
                                            </div>
                    <div class="form-group w-50">
                                                <label class="control-label">Téléphone portable</label><span class="text-danger">*</span>
                        <input type="number" asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                      </div>
                        <div class="m-auto d-flex flex-row justify-content-around">
                            <div class="form-group w-50 mr-2">
                                                <label class="control-label">Date de naissance</label><span class="text-danger">*</span>
                                <input type="date" asp-for="DateDeN" class="form-control" />
                                <span asp-validation-for="DateDeN" class="text-danger"></span>
                            </div>
                            <div class="form-group w-50">
                                                <label asp-for="Email" class="control-label"></label><span class="text-danger">*</span>
                                                <input type="email" asp-for="Email" class="form-control" />
                                                @* <p style="color:green;">@TempData["emailSuccess"]</p> *@
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                        </div>
                        <div class="d-flex flex-row">
                                            <input class="mr-2" style="align-self: start; margin-top:5px;" type="checkbox" />
                                            <p class="text-dark">Je déclare être disponible pendant toute la durée de la formation en présentiel et avoir un logement dans la ville de BENI MELLAL pour toute la période de formation (10 à 12 mois).</p>
                        </div>
                        <h5 class="text-danger p-2">@TempData["cinExiste"]</h5>
                      <div class="button-row d-flex mt-4">
                        <button
                            id="btnNext"
                          class="multisteps-form_btn ml-auto js-btn-next"
                          type="button"
                          title="Next"
                        >
                          Next
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div
                    class="multisteps-form__panel p-4 rounded bg-white"
                    data-animation="slideHorz"
                  >
                    <h3 class="multisteps-form__title">Parcours académique</h3>
                    <div class="multisteps-form__content">
                      <div class="m-auto d-flex flex-row justify-content-around">
                        <div class="form-group w-50 mr-2">
                                                <label class="control-label">Branche du bac<span class="text-danger">*</span></label>
                            <input asp-for="BrancheBac" class="form-control" />
                            <span asp-validation-for="BrancheBac" class="text-danger"></span>
                        </div>
                        <div class="form-group w-50">
                                                <label class="control-label">Niveau académique<span class="text-danger">*</span></label>
                                <select asp-for="Genre" asp-items="@niveau" class="form-control custom-select mb-3">
                                <option>-Niveau-</option>
                            </select>
                        </div>
                      </div>
                      <div class="m-auto d-flex flex-row justify-content-around">
                        <div class="form-group w-50 mr-2">
                                                <label class="control-label">Filière académique<span class="text-danger">*</span></label>
                            <input asp-for="FiliereAcad" class="form-control" />
                            <span asp-validation-for="FiliereAcad" class="text-danger"></span>
                        </div>
                        <div class="form-group w-50">
                            <label class="control-label">Autre filière académique</label>
                            <input asp-for="AutreFiliereAcad" class="form-control" />
                            <span asp-validation-for="AutreFiliereAcad" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="m-auto d-flex flex-row justify-content-around">
                        <div class="form-group w-50 mr-2">
                                                <label class="control-label">Dernier diplôme<span class="text-danger">*</span></label>
                            <input asp-for="DernierDip" class="form-control" />
                            <span asp-validation-for="DernierDip" class="text-danger"></span>
                        </div>
                        <div class="form-group w-50">
                                                <label class="control-label">Etablissement<span class="text-danger">*</span></label>
                            <input asp-for="Etablissement" class="form-control" />
                            <span asp-validation-for="Etablissement" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="m-auto d-flex flex-row justify-content-center">
                        <div class="form-group d-flex flex-row">
                                                <label class="control-label">Année d'obtention de votre dernier diplôme<span class="text-danger">*</span></label>
                            <input type="date" asp-for="AnneeDiplome" class="form-control" />
                            <span asp-validation-for="AnneeDiplome" class="text-danger"></span>
                        </div>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button
                          class="multisteps-form_btn js-btn-prev"
                          type="button"
                          title="Prev"
                        >
                          Prev
                        </button>
                        <button
                          class="multisteps-form_btn ml-auto js-btn-next"
                          type="button"
                          title="Next"
                        >
                          Next
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div
                    class="multisteps-form__panel  p-4 rounded bg-white"
                    data-animation="slideHorz"
                  >
                    <h3 class="multisteps-form__title">Expérience professionnelle</h3>
                    <div class="multisteps-form__content">
                      <div class="w-75 m-auto d-flex flex-row justify-content-around text-center">
                        <label class="control-label">Avez-vous une expérience professionnelles ?</label>
                        <select asp-for="Experience" asp-items="@situation" class="form-control custom-select">
                            <option>-Oui ou Non-</option>
                            @* <option value="@Model.Experience">@Model.Experience</option> *@
                        </select>
                      </div>
                      <div class="m-auto d-flex flex-row justify-content-center pt-4">
                        <div class="form-group w-75">
                          <label class="control-label">Si oui, de combien d'années?</label>
                          <input type="number" asp-for="SiOuiExperience" class="form-control" />
                          <span asp-validation-for="SiOuiExperience" class="text-danger"></span>
                        </div>
                      </div>
                    <div class="m-auto d-flex flex-row justify-content-center pt-4">
                        <div class="form-group w-75">
                            <label class="control-label">Quel domaine ??</label>
                            <input asp-for="Domaine" class="form-control" />
                            <span asp-validation-for="Domaine" class="text-danger"></span>
                        </div>
                    </div>
                      <div class="row">
                        <div class="button-row d-flex mt-4 col-12">
                          <button
                            class="multisteps-form_btn js-btn-prev"
                            type="button"
                            title="Prev"
                          >
                            Prev
                          </button>
                          <button
                            class="multisteps-form_btn ml-auto js-btn-next"
                            type="button"
                            title="Next"
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div
                    class="multisteps-form__panel p-4 rounded bg-white"
                    data-animation="slideHorz"
                  >
                    <h3 class="multisteps-form__title">Comments</h3>
                    <div class="multisteps-form__content">
                    <div class="form-group w-50">
                        <label class="control-label">Commentaire</label>
                        <textarea asp-for="Comment" class="form-control" placeholder="Comments"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                      <div class="button-row d-flex mt-4">
                        <button
                          class="multisteps-form_btn js-btn-prev"
                          type="button"
                          title="Prev"
                        >
                          Prev
                        </button>
                        <button
                          class="btn btn-success ml-auto"
                          type="submit"
                          title="Send"
                        >
                          Envoyer
                        </button>
                      </div>
                    </div>
                  </div>
                    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>





    
    <script>

    // document.addEventListener('DOMContentLoaded', () => {
    //     const inputFields = document.querySelectorAll('.nameInputs');
    //     const nextButton = document.querySelector('#btnNext');

        
    //     nextButton.disabled = true;

    //     inputFields.forEach(inputField => {
    //         inputField.addEventListener('input', () => {
                
    //             nextButton.disabled = !areAllInputFieldsNotEmpty();
    //         });
    //     });

    //     nextButton.addEventListener('click', () => {
    //         if (nextButton.disabled) {
    //             alert('Please fill in all input fields.');
    //         }
    //     });

    //     function areAllInputFieldsNotEmpty() {
    //         for (const inputField of inputFields) {
    //             if (inputField.value.trim() === '') {
    //                 return false;
    //             }
    //         }
    //         return true;
    //     }
    // });


function submitForm(form) {

  

  Swal.fire({
    title: "Merci!",
    text: "Merci pour votre inscription, Veuillez vérifier votre boîte mail.",
    icon: "success",
    confirmButtonText: "Sauvegarder",
  }).then((result) => {
    if (result.isConfirmed) {
      form.submit();
    }
  });

  return false;

}
    
//////////////////////////////
    function copyValue() {
        var sourceInput = document.getElementById("sourceInput");
        var destinationInput = document.getElementById("cinInput");
        destinationInput.value = sourceInput.value;
    }

///////////////////////


        /////////////////////

      
      const DOMstrings = {
        stepsBtnClass: "multisteps-form__progress-btn",
        stepsBtns: document.querySelectorAll(`.multisteps-form__progress-btn`),
        stepsBar: document.querySelector(".multisteps-form__progress"),
        stepsForm: document.querySelector(".multisteps-form__form"),
        stepsFormTextareas: document.querySelectorAll(
          ".multisteps-form__textarea"
        ),
        stepFormPanelClass: "multisteps-form__panel",
        stepFormPanels: document.querySelectorAll(".multisteps-form__panel"),
        stepPrevBtnClass: "js-btn-prev",
        stepNextBtnClass: "js-btn-next",
      };

      
      const removeClasses = (elemSet, className) => {
        elemSet.forEach((elem) => {
          elem.classList.remove(className);
        });
      };

      
      const findParent = (elem, parentClass) => {
        let currentNode = elem;

        while (!currentNode.classList.contains(parentClass)) {
          currentNode = currentNode.parentNode;
        }

        return currentNode;
      };

      
      const getActiveStep = (elem) => {
        return Array.from(DOMstrings.stepsBtns).indexOf(elem);
      };

      
      const setActiveStep = (activeStepNum) => {
        
        removeClasses(DOMstrings.stepsBtns, "js-active");

       
        DOMstrings.stepsBtns.forEach((elem, index) => {
          if (index <= activeStepNum) {
            elem.classList.add("js-active");
          }
        });
      };

      
      const getActivePanel = () => {
        let activePanel;

        DOMstrings.stepFormPanels.forEach((elem) => {
          if (elem.classList.contains("js-active")) {
            activePanel = elem;
          }
        });

        return activePanel;
      };

      
      const setActivePanel = (activePanelNum) => {
        
        removeClasses(DOMstrings.stepFormPanels, "js-active");

        
        DOMstrings.stepFormPanels.forEach((elem, index) => {
          if (index === activePanelNum) {
            elem.classList.add("js-active");

            setFormHeight(elem);
          }
        });
      };

      
      const formHeight = (activePanel) => {
        const activePanelHeight = activePanel.offsetHeight;

        DOMstrings.stepsForm.style.height = `${activePanelHeight}px`;
      };

      const setFormHeight = () => {
        const activePanel = getActivePanel();

        formHeight(activePanel);
      };

      
      DOMstrings.stepsBar.addEventListener("click", (e) => {
        
        const eventTarget = e.target;

        if (!eventTarget.classList.contains(`${DOMstrings.stepsBtnClass}`)) {
          return;
        }

        
        const activeStep = getActiveStep(eventTarget);

        
        setActiveStep(activeStep);

        
        setActivePanel(activeStep);
      });

      
      DOMstrings.stepsForm.addEventListener("click", (e) => {
        const eventTarget = e.target;

        
        if (
          !(
            eventTarget.classList.contains(`${DOMstrings.stepPrevBtnClass}`) ||
            eventTarget.classList.contains(`${DOMstrings.stepNextBtnClass}`)
          )
        ) {
          return;
        }

        
        const activePanel = findParent(
          eventTarget,
          `${DOMstrings.stepFormPanelClass}`
        );

        let activePanelNum = Array.from(DOMstrings.stepFormPanels).indexOf(
          activePanel
        );

        
        if (eventTarget.classList.contains(`${DOMstrings.stepPrevBtnClass}`)) {
          activePanelNum--;
        } else {
          activePanelNum++;
        }

        setActiveStep(activePanelNum);
        setActivePanel(activePanelNum);
      });

      
      window.addEventListener("load", setFormHeight, false);

      window.addEventListener("resize", setFormHeight, false);


      const setAnimationType = (newType) => {
        DOMstrings.stepFormPanels.forEach((elem) => {
          elem.dataset.animation = newType;
        });
      };


      const animationSelect = document.querySelector(".pick-animation__select");

      animationSelect.addEventListener("change", () => {
        const newAnimationType = animationSelect.value;

        setAnimationType(newAnimationType);
      });



    </script>




<script>
    
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

