@model enaa.Models.Registration

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutDashboard";
}

<h1>Details</h1>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrancheBac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrancheBac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauAcad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauAcad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereAcad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiliereAcad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutreFiliereAcad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutreFiliereAcad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DernierDip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DernierDip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etablissement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etablissement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneeDiplome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeDiplome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiOuiExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiOuiExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
